#media {
	border-left: 5px;
    border-left-style: solid;
}

#person{
	border-width:5px;
	border-style: solid;
	padding: 5px;
}
.social{
	height:50px;
	width:50px;
}
footer{
	border-width:5px;
	border-style: solid;
}

#last{
	margin-top: 200px;
}

#bottom{
	margin-top: 10px;
}

#paypal{
	height:150px;
	width:150px;
	  display: block;
  	margin-left: auto;
  	margin-right: auto;
}
form{
	border-width: 5px;
	border-style: solid;
}