#media {
	border-width: 1px;
	border-style: solid;
}

#person{
	border-width: 1px;
	border-style: solid;
	padding: 1px;
}
.social{
	height:50px;
	width:50px;
}
body{
}
footer{
	border-width: 1px;
	border-style: solid;
}
#formDiv{
	border-width: 1px;
}